*{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 1600px;
	background-color: black;
}
.menu{
	width: 1050px;
	height: 45px;
	margin: auto;
}
.menu2{
	color: white;
}
.menu1{
	margin: auto;
	width: 350px;
	float: left;
}
.menu img{
	float: left;
}
