*{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 1600px;
	background-color: black;
}
.khungtren{
	width: 1050px;
	height: 45px;
	margin: auto;
}
.khungtren2{
	color: white;
}
.khungtren1{
	margin: auto;
	width: 350px;
	float: left;
}
.khungtren img{
	float: left;
}
.container2{
	width: 1600px;
	background-color:#eee;
}
.tongthe{
	width: 1050px;
	margin: auto;
	background-color: white;
}
.quocgia{
	color: #ccc;
	display: inline-block;
}
.tieude{
	float: left;
	width: 500px;
}
.tieude1{
	width: 500px;
	float: left;
	text-align: right;
}
.market{
	display: inline-block;
}
.market1{
	float: left;
	width: 559px;
	text-align: right;
}
.market2{
	float: left;
	width: 300px;
	text-align: right;
}
#shop{color: #ccc}
.menu{
	width: 1050px;
	padding: 0px;
	border-bottom: 1px solid #eee;
}
.menu ul li{
	display: block;
	padding: 10px;
	float: left;
}
.menu a{
	text-decoration: none;
}
.clr{clear: both;}
.anh1 img{
	width: 700px;
	height: 533px;
	float: left;
}
.anh2 img{
	width: 276px;
}
.khunganhto{
	padding: 10px;
}

.anh4 img{
	width: 180px;
	float: left;
	margin-right: 20px;
}


.anh5 img{
	width:180px;
	float: left;
	margin-right: 20px;
}
.anh6 img{
	width: 130px;
	float: left;
	margin-right: 20px;
}

.anh7 img{
	width: 306px;
	float: left;
	margin-right: 20px;
}


.anh8 img{
	width: 306px;
	float: left;
	margin-right: 20px;
}
.anh9 img{
	width: 306px;
	float:left;
	margin-right: 20px;
}
.title{
	clear: left;
	font-family: arial;
	padding: 40px 0 30px 0;
}
.title h2{
	padding-bottom: 8px;
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #a5a4a4; 
}
.anh10 img{
	width: 230px;
	float: left;
	margin-right: 20px;
}


.anh11 img{
	width: 230px;
	float: left;
	margin-right: 20px;
}
.anh12 img{
	width: 230px;
	float: left;
	margin-right: 20px;
}
.anh13 img{
	width: 230px;
	float: left;
	margin-right: 20px;
}